<nav class="w-[100vw] h-32 flex flex-col justify-evenly items-center border shadow-xl shadow shadow-2xl bg-gray-200">
  <div class="w-full flex items-center justify-evenly">
      <form action="/search" method="get" accept-charset="utf-8" class="w-auto h-11 border rounded-md p-1 flex items-center">
        <input class="w-72 h-10 rounded-l-md outline-0 p-1" type="search" name="srch" id="inputHome" value="" placeholder="search" />
        <button type="submit"><i class="fa-solid fa-search bg-green-700 p-3 rounded-r-md"></i></button>
      </form>
      <a href="/login" class="p-2 bg-green-500 rounded-md text-gray-600 font-bold">Masuk</a>
  </div>
  <div class="w-full p-2 ">
    <p class="py-2 px-3 bg-gray-400 rounded-md inline-block mx-1">AII</p>
    <p class="py-2 px-3 bg-gray-400 rounded-md inline-block mx-1">NIKE</p>
    <p class="py-2 px-3 bg-gray-400 rounded-md inline-block mx-1">PUMA</p>
  </div>
  
</nav>